div#circle {
    margin-left: -50px;
    margin-top: -50px;
    background-color: #d01e9b;
    border-radius: 50%;
}

table {
    width: 100%;
}

table thead tr {
    background-color: blueviolet;
}

table tbody tr:nth-child(even) {
    background-color: aquamarine;
}