<h2>Mis tareas</h2>
{{#if todos}}
    <p>Aqui esta la lista de tareas</p>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            {{#each todos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>
                        {{#if completed}}
                            <span>Si</span>
                        {{else}}
                            <span>No</span>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Hace falta el user id</p>
{{/if}}
```